* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

#background {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
}

/* Speakers Page */

.speakersPage {
    padding-top: 230px;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
}
.speakersBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 14%;
}
.speakersPage h2 {
    font-size: 30px;
    font-weight: 500;
    color: #00497D;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.speakersViewWindow {
    position: relative;
    justify-self: center;
    background-color: transparent;
    height: 500px;
    width: 80%;
    overflow: scroll;
}
.speakerRow {
    display: flex;
    justify-content: space-between;
    height: 340px;
    width: 100%;
    margin-bottom: 38px;
}
.speakerBox {
    opacity: 100%;
    height: 100%;
    width: 21%;
    background-color: white;
    display: grid;
    grid-template-rows: 60% 1fr;
}
.speakerBox img {
    object-fit: cover;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
}
.speakerBox .infoBox {
    padding: 10px;
}
.speakerBox .infoBox h4, .speakerBox .infoBox p {
    padding-bottom: 10px;
}
.speakerBox .infoBox h4 {
    color: #4E9AD3;
}
.speakerBox .infoBox p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.6;
}

.downArrow {
    justify-self: center;
    margin: 38px 0;
    height: 40px;
    width: 40px;
    z-index: 2;
}
.downArrow img {
    height: 100%;
    width: 100%;
}

/* animations */

.speakerBox:hover {
    transform: translateY(-4px);
    opacity: 80%;
    transition: 0.4s;
}

.downArrow img:hover {
    transform: translateY(8px);
    transition: 0.4s;
}